body{
	background:#FCFFFC;
	font-size:14pt;
	margin:0;
}

@font-face {
	font-family: 'idz';
	src:url('fonts/idz.eot?-m7210t');
	src:url('fonts/idz.eot?#iefix-m7210t') format('embedded-opentype'),
		url('fonts/idz.woff?-m7210t') format('woff'),
		url('fonts/idz.ttf?-m7210t') format('truetype'),
		url('fonts/idz.svg?-m7210t#idz') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'idz';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-facebook:before {
	content: "\e600";
}
.icon-twitter:before {
	content: "\e601";
}
.icon-phone:before {
	content: "\e602";
}
.icon-mail:before {
	content: "\e603";
}
.icon-gift:before {
	content: "\e604";
}
.icon-credit:before {
	content: "\e605";
}

header.logo{
      margin:10px auto 15px auto;
      width:90%;     
}
.support{
 	text-align: right;	
}
#nav{
	padding:0px;
    width:100%;
    margin:0px auto;
    font-size:14pt;
    box-sizing:border-box;
    z-index:99999;
    background:url(../images/shadow_bottom.png) no-repeat center bottom;
}

section.banner{
	padding:0px;	
	background:#ffffff;
}

.slider_container{ width:100%; margin:auto; clear:both; padding:0;}
.flex-caption{ position: absolute; right:11px; bottom:20px;}
.caption_title_line{ width:450px; min-height:75px; padding:5px 15px 10px 15px;background-color:rgba(61,134,70, .7); color: #ffffff;}
.flex-caption h2{ color:#ffffff;font-size:20px; padding:5px 0 5px 0; margin:0px;}

.flex-container a:active,
.flexslider a:active {outline: none;}
.slides,
.flex-control-nav,
.flex-direction-nav {margin: 0; padding: 0; list-style: none;} 


.flexslider {width: 100%; margin: 0; padding: 0 0 30px 0;background:url(../images/shadow_bottom.png) no-repeat center bottom; }
.flexslider .slides > li {display: none;} 
.flexslider .slides img {max-width: 100%; display: block;}
.flex-pauseplay span {text-transform: capitalize;}
.slides:after {content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0;} 
html[xmlns] .slides {display: block;} 
* html .slides {height: 1%;}
.no-js .slides > li:first-child {display: block;}
.flexslider {position: relative; zoom: 1;}
.flexslider .slides {zoom: 1;}
.flexslider .slides > li {position: relative;}
.flex-container {zoom: 1; position: relative;}

.flex-direction-nav li a {width:45px; min-height:42px; margin:0; display: block; position: absolute; right:11px; cursor: pointer; text-indent: -9999px;}
.flex-direction-nav li a.next {background:url(../images/next.png) no-repeat center; bottom:184px;}
.flex-direction-nav li a.prev {background:url(../images/prev.png) no-repeat center;bottom:141px;}
.flex-direction-nav li a.next:hover {background:url(../images/next_a.png) no-repeat center;}
.flex-direction-nav li a.prev:hover {background:url(../images/prev_a.png) no-repeat center;}
.flex-direction-nav li a.disabled {opacity: .3; filter:alpha(opacity=30); cursor: default;}

.flex-control-nav {width: 100%; position: absolute; bottom: -30px; text-align: center;}
.flex-control-nav li {margin: 0 0 0 5px; display: inline-block; zoom: 1; *display: inline;}
.flex-control-nav li:first-child {margin: 0;}
.flex-control-nav li a {width: 13px; height: 13px; display: block; cursor: pointer; text-indent: -9999px;}
.flex-control-nav li a:hover {background-position: 0 -13px;}
.flex-control-nav li a.active {background-position: 0 -26px; cursor: default;}


@media screen and (max-width: 1000px) {
.slider_container{ width:90%; margin:0 0 0 2%; clear:both; background:none; padding:0;}
.flexslider {width: 100%; margin: 0; padding:0px 0;background:none;}
.flex-direction-nav li a {width:45px; min-height:42px; margin:0; display: block; position: absolute; right:-10px; cursor: pointer; text-indent: -9999px;}
.flex-direction-nav li a.next {background:url(../images/next.png) no-repeat center; bottom:85px;right:0px;}
.flex-direction-nav li a.prev {background:url(../images/prev.png) no-repeat center;bottom:40px;right:0px;}
.flex-caption { display:none;}
}

.blk{display:block;}

.content-holder{
	max-height:365px;
	overflow:scroll;
	overflow-x:hidden;
}
.container-nav, .wrapper{
	width:90%;
	margin:0px auto;
}

.wrapper{
	padding:0px;
	margin-top:0px;
}

.frameit{
	width:90%;
	margin:0 auto;
}

.red{
	color:#C50429;	
}

.green{
	color:#17BC43;
}

.blue{
	color:#178ABC;
}

.bold{
	font-weight:bold;
}

textarea{
	resize:none;
}

.img-right{
	margin:0 0px 10px 10px;
}

.img-left{
	margin:0 10px 10px 0px;
}

.fnsm{
	font-size:.9em !important;
}

.modal-header-card {
    color:#fff;
    padding:10px;
    border-bottom:1px solid #eee;
    background-color: #5cb85c;
}

.form-group{
	margin-bottom:10px;
	margin-top:15px;
	clear:both;
}

.list_carousel {
	margin: 0 0 30px 60px;
	width: 360px;
}
.list_carousel ul {
	margin: 0;
	padding: 0;
	list-style: none;
	display: block;
}
.list_carousel li {
	text-align: center;		
	padding: 0;
	margin: 6px;
	display: block;
	float: left;
}
.list_carousel.responsive {
	width: auto;
	margin-left: 0;
}
.clearfix {
	float: none;
	clear: both;
}
.prev {
	float: left;
	margin-left: 10px;
	margin-top:15px;	
}
.next {
	float: right;
	margin-right: 10px;
	margin-top:15px;
}

a.prev:hover, a.next:hover{ 
	text-decoration:none;
	color:#F62C05;	
}

.pager {
	float: left;
	width: 300px;
	text-align: center;
}
.pager a {
	margin: 0 5px;
	text-decoration: none;
}
.pager a.selected {
	text-decoration: underline;
}


ul.unorderlist{
	margin:0;
}

ul.unorderlist li{
	list-style:none;
	margin-left:-30px;
	padding:5px;
	border-bottom:1px solid #f5f5f5;
}

.flaticon-arrow435:before {
	content: "\e002";
	font-size:40pt;
	color:;
	border:2px solid #ccc;
	padding:10px;
	-moz-border-radius:50%;
	-webkit-border-radius:50%;
	-ms-border-radius:50%;
	-o-border-radius:50%;
	border-radius:50%;
}


.flaticon-arrow434:before {
	content: "\e002";
	font-size:40pt;
	color:;
	border:2px solid #ccc;
	padding:10px;
	-moz-border-radius:50%;
	-webkit-border-radius:50%;
	-ms-border-radius:50%;
	-o-border-radius:50%;
	border-radius:50%;
}


li.roles {
	width:200px;
	height:250px;
	margin:10px;
	border:1px solid #ccc;
	text-align: center;
}


.board-members{
	width:140px;
	height:140px;
	padding:0px 30px 20px 2px;
	text-align:center;
	background:#C2FFCD;
	border:5px solid #30B447;
	-moz-border-radius:50%;
	-webkit-border-radius:50%;
	-ms-border-radius:50%;
	-o-border-radius:50%;
	border-radius:50%;
	display: block;
}


.board-members > span.flaticon-profile7:before {
	color:#30B447;
	font-size:5em;
}

.name-roles{
	display: block;
	margin:5px auto;
	text-align: center;
	font-size:10pt;
	border:1px solid #ccc;
	height:180px;
}
.name-roles > span{
	display: block;	
}

.content{margin:0 0 40px 40px; overflow:auto;}
#content_1{background:#333;}
#content_2{color:#333; background:#eee;}

#details { font-size: 60px; }
#home-box > h2 { font-weight: 400; line-height: 1.1; color: #cccccc; }
.price { font-size: 25px; display:block; text-align: center;}
.pricing_header { background: none repeat scroll 0% 0% rgb(5, 156, 73); transition: background 0.4s ease-out 0s; }
.pricing_header h3 { text-align:center; line-height: 25px; padding: 15px 0px; margin: 0px;color: #ffffff; }
.pricing_header h3 > small { text-align:center; line-height: 25px; padding: 15px 0px; margin: 0px;color: #ffffff; }
.off { text-decoration: line-through; color: rgb(86,86,86); }
.space {height: 2px; background-color: #75b1ae;}

.idz{
	clear:both;
}

section{
	border-top:1px solid #f5f5f5;
	background: #FCFCFC;
	margin-top:40px !imporatnt;
}

section{
	padding:10px;
}

.map{	
	border:none;
	width:100%;
	overflow: inherit;
	margin:0;
}

.colorgraph {
  height: 10px;
  border-top: 0;
  margin-bottom:0px;
  background: #2E9F44;
  background-image: -webkit-linear-gradient(left, #2E9F44, #2E9F44 12.5%, #2E9F78 12.5%, #2E9F78 25%, #177B58 25%, #177B58 37.5%, #BA142A 37.5%, #BA142A 50%, #BD4C5B 50%, #BD4C5B 62.5%, #B03627 62.5%, #B03627 75%, #E58275 75%, #E58275 87.5%, #DF001C 87.5%, #DF001C);
  background-image: -moz-linear-gradient(left, #2E9F44, #2E9F44 12.5%, #2E9F78 12.5%, #2E9F78 25%, #177B58 25%, #177B58 37.5%, #BA142A 37.5%, #BA142A 50%, #BD4C5B 50%, #BD4C5B 62.5%, #B03627 62.5%, #B03627 75%, #E58275 75%, #E58275 87.5%, #DF001C 87.5%, #DF001C);
  background-image: -o-linear-gradient(left, #2E9F44, #2E9F44 12.5%, #2E9F78 12.5%, #2E9F78 25%, #177B58 25%, #177B58 37.5%, #BA142A 37.5%, #BA142A 50%, #BD4C5B 50%, #BD4C5B 62.5%, #B03627 62.5%, #B03627 75%, #E58275 75%, #E58275 87.5%, #DF001C 87.5%, #DF001C);
  background-image: linear-gradient(to right, #2E9F44, #2E9F44 12.5%, #2E9F78 12.5%, #2E9F78 25%, #177B58 25%, #177B58 37.5%, #BA142A 37.5%, #BA142A 50%, #BD4C5B 50%, #BD4C5B 62.5%, #B03627 62.5%, #B03627 75%, #E58275 75%, #E58275 87.5%, #DF001C 87.5%, #DF001C);
}


.sbh {
  height: 5px;
  border-top: 0;
  margin-bottom:0px;
  background: #2E9F44;
  background-image: -webkit-linear-gradient(left, #2E9F44, #2E9F44 12.5%, #2E9F78 12.5%, #2E9F78 25%, #177B58 25%, #177B58 37.5%, #BA142A 37.5%, #BA142A 50%, #BD4C5B 50%, #BD4C5B 62.5%, #B03627 62.5%, #B03627 75%, #E58275 75%, #E58275 87.5%, #DF001C 87.5%, #DF001C);
  background-image: -moz-linear-gradient(left, #2E9F44, #2E9F44 12.5%, #2E9F78 12.5%, #2E9F78 25%, #177B58 25%, #177B58 37.5%, #BA142A 37.5%, #BA142A 50%, #BD4C5B 50%, #BD4C5B 62.5%, #B03627 62.5%, #B03627 75%, #E58275 75%, #E58275 87.5%, #DF001C 87.5%, #DF001C);
  background-image: -o-linear-gradient(left, #2E9F44, #2E9F44 12.5%, #2E9F78 12.5%, #2E9F78 25%, #177B58 25%, #177B58 37.5%, #BA142A 37.5%, #BA142A 50%, #BD4C5B 50%, #BD4C5B 62.5%, #B03627 62.5%, #B03627 75%, #E58275 75%, #E58275 87.5%, #DF001C 87.5%, #DF001C);
  background-image: linear-gradient(to right, #2E9F44, #2E9F44 12.5%, #2E9F78 12.5%, #2E9F78 25%, #177B58 25%, #177B58 37.5%, #BA142A 37.5%, #BA142A 50%, #BD4C5B 50%, #BD4C5B 62.5%, #B03627 62.5%, #B03627 75%, #E58275 75%, #E58275 87.5%, #DF001C 87.5%, #DF001C);
}

.pad9{
	padding:1.9px 1.9px 1.9px 1.9px !important;  
}

.light-rnd{
	height:100px;
	width:100px;
	-moz-border-radius:50%;
	-webkit-border-radius:50%;
	-o-border-radius:50%;
	-ms-border-radius:50%;
	border-radius:50%;
	padding-left:7px;
	float:right;
	margin-left:10px;
	border:2px solid #7BBB8B;
	background:#CAF5D4;
}

.light-rnd > span.flaticon-light44:before {
	font-size:55pt !important;
	color:#149534;
	text-align: center;
}

.box {
	cursor: pointer;
	height: 182px;
	position: relative;
	overflow: hidden;
	width: 100%;
}
.box img {
	position: absolute;
	left: 0;
		-webkit-transition: all 300ms ease-out;
		-moz-transition: all 300ms ease-out;
		-o-transition: all 300ms ease-out;
		-ms-transition: all 300ms ease-out;	
	transition: all 300ms ease-out;
}


.box .caption {
	background-color: rgba(0,0,0,0.8);
	position: absolute;
	color: #fff;
	z-index: 100;
		-webkit-transition: all 300ms ease-out;
		-moz-transition: all 300ms ease-out;
		-o-transition: all 300ms ease-out;
		-ms-transition: all 300ms ease-out;	
		transition: all 300ms ease-out;
	left: 0;
}

.box .simple-caption {
	height: 30px;
	width: 100%;
	display: block;
	bottom: -30px;
	line-height: 25pt;
	text-align: center;
}

.pad20{
	padding-left:20px;
}

.box:hover .simple-caption {
	-moz-transform: translateY(-100%);
	-o-transform: translateY(-100%);
	-webkit-transform: translateY(-100%);
	opacity: 1;
	transform: translateY(-100%);
}


.bold{
	font-weight:bold;
}

.pad10{
	padding:10px !important;
}

.frame{
	padding:20px;
	background:#fbfbfb;
	margin:20px;
}

.fff{
	color:#ffffff;
}

input.DEPENDS.ON.martial-status.BEING.Married {
	line-height: 1.42857143;
	width: 159%;
	height: 34px;
	font-size: 14px;
	padding: 7px 12px;
	margin-top: 5px;
	border: 1px solid rgb(204, 204, 204);
	font-weight: normal;
}

input.DEPENDS.ON.martial-status.BEING.Single {
	line-height: 1.42857143;
	width: 100%;
	height: 34px;
	font-size: 14px;
	padding: 7px 12px;
	margin-top: 5px;
	border: 1px solid rgb(204, 204, 204);
	font-weight: normal;
}

span > small{
	font-weight:normal !important;
}

footer{
	background: url(../images/grass.png) repeat-x;
	height:43px;
}
.base{   
   background-color: #452c1a;background-image:url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHdpZHRoPSczMDAnIGhlaWdodD0nMzAwJyB2aWV3Qm94PScwIDAgMTUwIDE1MCc+Cgk8ZmlsdGVyIGlkPSduJyB4PScwJyB5PScwJz4KCQk8ZmVUdXJidWxlbmNlIHR5cGU9J3R1cmJ1bGVuY2UnIGJhc2VGcmVxdWVuY3k9Jy43JyByZXN1bHQ9J2Z1enonIG51bU9jdGF2ZXM9JzInIHN0aXRjaFRpbGVzPSdzdGl0Y2gnLz4KCQk8ZmVDb21wb3NpdGUgaW49J1NvdXJjZUdyYXBoaWMnIGluMj0nZnV6eicgb3BlcmF0b3I9J2FyaXRobWV0aWMnIGsxPScwJyBrMj0nMC4xOCcgazM9Jy0wLjA1JyBrND0nLjAxJyAvPgoJPC9maWx0ZXI+Cgk8cmVjdCB3aWR0aD0nMTAyJScgaGVpZ2h0PScxMDIlJyBmaWxsPScjMmUxMzAwJy8+Cgk8cmVjdCB4PSctMSUnIHk9Jy0xJScgd2lkdGg9JzEwMiUnIGhlaWdodD0nMTAyJScgZmlsbD0nIzQ1MmMxYScgZmlsdGVyPSd1cmwoI24pJyBvcGFjaXR5PScxJy8+Cjwvc3ZnPg==');   
   min-height:30px;
   font-size:11pt;
   padding:20px 0px;
   color:#ccc;
   border-top:20px solid #3E2E23;
}
.base h4{
	border-bottom:1px dashed #C06525;	
}

.base a{
	color:#FFD6B9;
	text-decoration: none;
}

.base a:hover{
	color:#ffffff;
	text-decoration: none;
}