@font-face {
  font-family: 'fontello';
  src: url('../font/fontello1129.eot?99886049');
  src: url('../font/fontello1129.eot?99886049#iefix') format('embedded-opentype'),
       url('../font/fontello1129.woff?99886049') format('woff'),
       url('../font/fontello1129.ttf?99886049') format('truetype'),
       url('../font/fontello1129.svg?99886049#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?99886049#fontello') format('svg');
  }
}

 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
     
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  font-size: 120%;
 
  /* Uncomment for 3D effect */
   text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); 
}
 
.icon-glass:before { content: '\e800'; } /* '' */
.icon-wallet:before { content: '\e949'; } /* '' */
.icon-search-4:before { content: '\e91d'; } /* '' */
.icon-mail-4:before { content: '\e91e'; } /* '' */
.icon-mail-alt:before { content: '\e91f'; } /* '' */
.icon-heart-4:before { content: '\e920'; } /* '' */
.icon-heart-empty-2:before { content: '\e921'; } /* '' */
.icon-star-4:before { content: '\e922'; } /* '' */
.icon-star-empty:before { content: '\e923'; } /* '' */
.icon-star-half:before { content: '\e924'; } /* '' */
.icon-star-half-alt:before { content: '\e925'; } /* '' */
.icon-user-4:before { content: '\e926'; } /* '' */
.icon-users-2:before { content: '\e927'; } /* '' */
.icon-male:before { content: '\e928'; } /* '' */
.icon-female:before { content: '\e929'; } /* '' */
.icon-video-3:before { content: '\e92a'; } /* '' */
.icon-videocam-2:before { content: '\e92b'; } /* '' */
.icon-picture-3:before { content: '\e92c'; } /* '' */
.icon-camera-4:before { content: '\e92d'; } /* '' */
.icon-camera-alt:before { content: '\e92e'; } /* '' */
.icon-th-large-1:before { content: '\e95f'; } /* '' */
.icon-th-1:before { content: '\e960'; } /* '' */
.icon-th-list-1:before { content: '\e961'; } /* '' */
.icon-ok-2:before { content: '\e962'; } /* '' */
.icon-ok-circled:before { content: '\e963'; } /* '' */
.icon-ok-circled2:before { content: '\e964'; } /* '' */
.icon-ok-squared:before { content: '\e965'; } /* '' */
.icon-cancel-3:before { content: '\e966'; } /* '' */
.icon-cancel-circled-2:before { content: '\e967'; } /* '' */
.icon-cancel-circled2:before { content: '\e968'; } /* '' */
.icon-plus-3:before { content: '\eb34'; } /* '' */
.icon-plus-circled:before { content: '\eb35'; } /* '' */
.icon-plus-squared:before { content: '\eb36'; } /* '' */
.icon-plus-squared-small:before { content: '\eb37'; } /* '' */
.icon-minus-3:before { content: '\eb38'; } /* '' */
.icon-minus-circled:before { content: '\eb39'; } /* '' */
.icon-minus-squared:before { content: '\eb3a'; } /* '' */
.icon-minus-squared-alt:before { content: '\eb3b'; } /* '' */
.icon-minus-squared-small:before { content: '\eb3c'; } /* '' */
.icon-help-2:before { content: '\eb3d'; } /* '' */
.icon-help-circled:before { content: '\eb3e'; } /* '' */
.icon-info-circled:before { content: '\eb3f'; } /* '' */
.icon-info-3:before { content: '\eb40'; } /* '' */
.icon-home-3:before { content: '\eb41'; } /* '' */
.icon-link-3:before { content: '\eb42'; } /* '' */
.icon-unlink:before { content: '\eb43'; } /* '' */
.icon-link-ext:before { content: '\eb44'; } /* '' */
.icon-link-ext-alt:before { content: '\eb45'; } /* '' */
.icon-attach-4:before { content: '\eb46'; } /* '' */
.icon-lock-4:before { content: '\eb47'; } /* '' */
.icon-lock-open-3:before { content: '\eb48'; } /* '' */
.icon-lock-open-alt:before { content: '\eb49'; } /* '' */
.icon-pin-2:before { content: '\eb4a'; } /* '' */
.icon-eye-4:before { content: '\eb4b'; } /* '' */
.icon-eye-off:before { content: '\eb4c'; } /* '' */
.icon-tag-4:before { content: '\eb4d'; } /* '' */
.icon-tags-1:before { content: '\eb4e'; } /* '' */
.icon-bookmark-2:before { content: '\eb4f'; } /* '' */
.icon-bookmark-empty:before { content: '\eb50'; } /* '' */
.icon-flag-2:before { content: '\eb51'; } /* '' */
.icon-flag-empty:before { content: '\eb52'; } /* '' */
.icon-flag-checkered:before { content: '\eb53'; } /* '' */
.icon-thumbs-up-3:before { content: '\eb54'; } /* '' */
.icon-thumbs-down-2:before { content: '\eb55'; } /* '' */
.icon-thumbs-up-alt:before { content: '\eb56'; } /* '' */
.icon-thumbs-down-alt:before { content: '\eb57'; } /* '' */
.icon-download-3:before { content: '\eb58'; } /* '' */
.icon-upload-3:before { content: '\eb59'; } /* '' */
.icon-download-cloud-1:before { content: '\eb5a'; } /* '' */
.icon-upload-cloud-3:before { content: '\eb5b'; } /* '' */
.icon-reply-2:before { content: '\eb5c'; } /* '' */
.icon-reply-all:before { content: '\eb5d'; } /* '' */
.icon-forward-2:before { content: '\eb5e'; } /* '' */
.icon-quote-left-1:before { content: '\eb5f'; } /* '' */
.icon-quote-right-1:before { content: '\eb60'; } /* '' */
.icon-code-2:before { content: '\eb61'; } /* '' */
.icon-export-2:before { content: '\eb62'; } /* '' */
.icon-export-alt:before { content: '\eb63'; } /* '' */
.icon-pencil-4:before { content: '\eb64'; } /* '' */
.icon-pencil-squared:before { content: '\eb65'; } /* '' */
.icon-edit-1:before { content: '\eb66'; } /* '' */
.icon-print-2:before { content: '\eb67'; } /* '' */
.icon-retweet:before { content: '\eb68'; } /* '' */
.icon-keyboard:before { content: '\eb69'; } /* '' */
.icon-gamepad:before { content: '\eb6a'; } /* '' */
.icon-comment-4:before { content: '\eb6b'; } /* '' */
.icon-chat-3:before { content: '\eb6c'; } /* '' */
.icon-comment-empty:before { content: '\eb6d'; } /* '' */
.icon-chat-empty:before { content: '\eb6e'; } /* '' */
.icon-bell-2:before { content: '\eb6f'; } /* '' */
.icon-bell-alt:before { content: '\eb70'; } /* '' */
.icon-attention-alt:before { content: '\eb71'; } /* '' */
.icon-attention-2:before { content: '\eb72'; } /* '' */
.icon-attention-circled:before { content: '\eb73'; } /* '' */
.icon-location-4:before { content: '\eb74'; } /* '' */
.icon-direction-2:before { content: '\eb75'; } /* '' */
.icon-compass-3:before { content: '\eb76'; } /* '' */
.icon-trash-4:before { content: '\eb77'; } /* '' */
.icon-doc-4:before { content: '\eb78'; } /* '' */
.icon-docs:before { content: '\eb79'; } /* '' */
.icon-doc-text-2:before { content: '\eb7a'; } /* '' */
.icon-doc-inv-1:before { content: '\eb7b'; } /* '' */
.icon-doc-text-inv:before { content: '\eb7c'; } /* '' */
.icon-folder-3:before { content: '\eb7d'; } /* '' */
.icon-folder-open:before { content: '\eb7e'; } /* '' */
.icon-folder-empty-1:before { content: '\eb7f'; } /* '' */
.icon-folder-open-empty:before { content: '\eb80'; } /* '' */
.icon-box-3:before { content: '\eb81'; } /* '' */
.icon-rss-3:before { content: '\eb82'; } /* '' */
.icon-rss-squared:before { content: '\eb83'; } /* '' */
.icon-phone-2:before { content: '\eb84'; } /* '' */
.icon-phone-squared:before { content: '\eb85'; } /* '' */
.icon-menu-2:before { content: '\eb86'; } /* '' */
.icon-cog-4:before { content: '\eb87'; } /* '' */
.icon-cog-alt:before { content: '\eb88'; } /* '' */
.icon-wrench-2:before { content: '\eb89'; } /* '' */
.icon-basket-2:before { content: '\eb8a'; } /* '' */
.icon-calendar-4:before { content: '\eb8b'; } /* '' */
.icon-calendar-empty:before { content: '\eb8c'; } /* '' */
.icon-login:before { content: '\eb8d'; } /* '' */
.icon-logout:before { content: '\eb8e'; } /* '' */
.icon-mic-3:before { content: '\eb8f'; } /* '' */
.icon-mute:before { content: '\eb90'; } /* '' */
.icon-volume-off-2:before { content: '\eb91'; } /* '' */
.icon-volume-down:before { content: '\eb92'; } /* '' */
.icon-volume-up-1:before { content: '\eb93'; } /* '' */
.icon-headphones-2:before { content: '\eb94'; } /* '' */
.icon-clock-4:before { content: '\eb95'; } /* '' */
.icon-lightbulb-2:before { content: '\eb96'; } /* '' */
.icon-block-3:before { content: '\eb97'; } /* '' */
.icon-resize-full-3:before { content: '\eb98'; } /* '' */
.icon-resize-full-alt-1:before { content: '\eb99'; } /* '' */
.icon-resize-small-2:before { content: '\eb9a'; } /* '' */
.icon-resize-vertical-1:before { content: '\eb9b'; } /* '' */
.icon-resize-horizontal-1:before { content: '\eb9c'; } /* '' */
.icon-move-2:before { content: '\eb9d'; } /* '' */
.icon-zoom-in-1:before { content: '\eb9e'; } /* '' */
.icon-zoom-out-1:before { content: '\eb9f'; } /* '' */
.icon-down-circled2:before { content: '\eba0'; } /* '' */
.icon-up-circled2:before { content: '\eba1'; } /* '' */
.icon-left-circled2:before { content: '\eba2'; } /* '' */
.icon-right-circled2:before { content: '\eba3'; } /* '' */
.icon-down-dir:before { content: '\eba4'; } /* '' */
.icon-up-dir:before { content: '\eba5'; } /* '' */
.icon-left-dir:before { content: '\eba6'; } /* '' */
.icon-right-dir:before { content: '\eba7'; } /* '' */
.icon-down-open:before { content: '\eba8'; } /* '' */
.icon-left-open-2:before { content: '\eba9'; } /* '' */
.icon-right-open-2:before { content: '\ebaa'; } /* '' */
.icon-up-open:before { content: '\ebab'; } /* '' */
.icon-angle-left:before { content: '\ebac'; } /* '' */
.icon-angle-right:before { content: '\ebad'; } /* '' */
.icon-angle-up:before { content: '\ebae'; } /* '' */
.icon-angle-down:before { content: '\ebaf'; } /* '' */
.icon-angle-circled-left:before { content: '\ebb0'; } /* '' */
.icon-angle-circled-right:before { content: '\ebb1'; } /* '' */
.icon-angle-circled-up:before { content: '\ebb2'; } /* '' */
.icon-angle-circled-down:before { content: '\ebb3'; } /* '' */
.icon-angle-double-left:before { content: '\ebb4'; } /* '' */
.icon-angle-double-right:before { content: '\ebb5'; } /* '' */
.icon-angle-double-up:before { content: '\ebb6'; } /* '' */
.icon-angle-double-down:before { content: '\ebb7'; } /* '' */
.icon-down-3:before { content: '\ebb8'; } /* '' */
.icon-left-3:before { content: '\ebb9'; } /* '' */
.icon-right-3:before { content: '\ebba'; } /* '' */
.icon-up-3:before { content: '\ebbb'; } /* '' */
.icon-down-big:before { content: '\ebbc'; } /* '' */
.icon-left-big:before { content: '\ebbd'; } /* '' */
.icon-right-big:before { content: '\ebbe'; } /* '' */
.icon-up-big:before { content: '\ebbf'; } /* '' */
.icon-right-hand:before { content: '\ebc0'; } /* '' */
.icon-left-hand:before { content: '\ebc1'; } /* '' */
.icon-up-hand:before { content: '\ebc2'; } /* '' */
.icon-down-hand:before { content: '\ebc3'; } /* '' */
.icon-left-circled:before { content: '\ebc4'; } /* '' */
.icon-right-circled:before { content: '\ebc5'; } /* '' */
.icon-up-circled:before { content: '\ebc6'; } /* '' */
.icon-down-circled:before { content: '\ebc7'; } /* '' */
.icon-cw-3:before { content: '\ebc8'; } /* '' */
.icon-ccw:before { content: '\ebc9'; } /* '' */
.icon-arrows-cw-1:before { content: '\ebca'; } /* '' */
.icon-level-up:before { content: '\ebcb'; } /* '' */
.icon-level-down:before { content: '\ebcc'; } /* '' */
.icon-shuffle-2:before { content: '\ebcd'; } /* '' */
.icon-exchange-1:before { content: '\ebce'; } /* '' */
.icon-collapse:before { content: '\ebcf'; } /* '' */
.icon-collapse-top:before { content: '\ebd0'; } /* '' */
.icon-expand:before { content: '\ebd1'; } /* '' */
.icon-collapse-left:before { content: '\ebd2'; } /* '' */
.icon-play-3:before { content: '\ebd3'; } /* '' */
.icon-play-circled:before { content: '\ebd4'; } /* '' */
.icon-play-circled2:before { content: '\ebd5'; } /* '' */
.icon-stop-3:before { content: '\ebd6'; } /* '' */
.icon-pause-3:before { content: '\ebd7'; } /* '' */
.icon-to-end-2:before { content: '\ebd8'; } /* '' */
.icon-to-end-alt:before { content: '\ebd9'; } /* '' */
.icon-to-start-2:before { content: '\ebda'; } /* '' */
.icon-to-start-alt:before { content: '\ebdb'; } /* '' */
.icon-fast-fw-1:before { content: '\ebdc'; } /* '' */
.icon-fast-bw:before { content: '\ebdd'; } /* '' */
.icon-eject-2:before { content: '\ebde'; } /* '' */
.icon-target-3:before { content: '\ebdf'; } /* '' */
.icon-signal-2:before { content: '\ebe0'; } /* '' */
.icon-award-1:before { content: '\ebe1'; } /* '' */
.icon-desktop-2:before { content: '\ebe2'; } /* '' */
.icon-laptop-1:before { content: '\ebe3'; } /* '' */
.icon-tablet-1:before { content: '\ebe4'; } /* '' */
.icon-mobile-4:before { content: '\ebe5'; } /* '' */
.icon-inbox:before { content: '\ebe6'; } /* '' */
.icon-globe-3:before { content: '\ebe7'; } /* '' */
.icon-sun-2:before { content: '\ebe8'; } /* '' */
.icon-cloud-4:before { content: '\ebe9'; } /* '' */
.icon-flash-3:before { content: '\ebea'; } /* '' */
.icon-moon-3:before { content: '\ebeb'; } /* '' */
.icon-umbrella-1:before { content: '\ebec'; } /* '' */
.icon-flight:before { content: '\ebed'; } /* '' */
.icon-fighter-jet:before { content: '\ebee'; } /* '' */
.icon-leaf-2:before { content: '\ebef'; } /* '' */
.icon-font:before { content: '\ebf0'; } /* '' */
.icon-bold:before { content: '\ebf1'; } /* '' */
.icon-italic:before { content: '\ebf2'; } /* '' */
.icon-text-height:before { content: '\ebf3'; } /* '' */
.icon-text-width:before { content: '\ebf4'; } /* '' */
.icon-align-left:before { content: '\ebf5'; } /* '' */
.icon-align-center:before { content: '\ebf6'; } /* '' */
.icon-align-right:before { content: '\ebf7'; } /* '' */
.icon-align-justify:before { content: '\ebf8'; } /* '' */
.icon-list-2:before { content: '\ebf9'; } /* '' */
.icon-indent-left:before { content: '\ebfa'; } /* '' */
.icon-indent-right:before { content: '\ebfb'; } /* '' */
.icon-list-bullet:before { content: '\ebfc'; } /* '' */
.icon-list-numbered:before { content: '\ebfd'; } /* '' */
.icon-strike:before { content: '\ebfe'; } /* '' */
.icon-underline:before { content: '\ebff'; } /* '' */
.icon-superscript:before { content: '\ec00'; } /* '' */
.icon-subscript:before { content: '\ec01'; } /* '' */
.icon-table:before { content: '\ec02'; } /* '' */
.icon-columns:before { content: '\ec03'; } /* '' */
.icon-crop:before { content: '\ec04'; } /* '' */
.icon-scissors-1:before { content: '\ec05'; } /* '' */
.icon-paste:before { content: '\ec06'; } /* '' */
.icon-briefcase-2:before { content: '\ec07'; } /* '' */
.icon-suitcase:before { content: '\ec08'; } /* '' */
.icon-ellipsis:before { content: '\ec09'; } /* '' */
.icon-ellipsis-vert:before { content: '\ec0a'; } /* '' */
.icon-off:before { content: '\ec0b'; } /* '' */
.icon-road:before { content: '\ec0c'; } /* '' */
.icon-list-alt:before { content: '\ec0d'; } /* '' */
.icon-qrcode:before { content: '\ec0e'; } /* '' */
.icon-barcode:before { content: '\ec0f'; } /* '' */
.icon-book-2:before { content: '\ec10'; } /* '' */
.icon-ajust:before { content: '\ec11'; } /* '' */
.icon-tint:before { content: '\ec12'; } /* '' */
.icon-check-2:before { content: '\ec13'; } /* '' */
.icon-check-empty:before { content: '\ec14'; } /* '' */
.icon-circle:before { content: '\ec15'; } /* '' */
.icon-circle-empty:before { content: '\ec16'; } /* '' */
.icon-dot-circled:before { content: '\ec17'; } /* '' */
.icon-asterisk:before { content: '\ec18'; } /* '' */
.icon-gift-1:before { content: '\ec19'; } /* '' */
.icon-fire:before { content: '\ec1a'; } /* '' */
.icon-magnet:before { content: '\ec1b'; } /* '' */
.icon-chart-bar-3:before { content: '\ec1c'; } /* '' */
.icon-ticket-2:before { content: '\ec1d'; } /* '' */
.icon-credit-card-2:before { content: '\ec1e'; } /* '' */
.icon-floppy:before { content: '\ec1f'; } /* '' */
.icon-megaphone:before { content: '\ec20'; } /* '' */
.icon-hdd:before { content: '\ec21'; } /* '' */
.icon-key-4:before { content: '\ec22'; } /* '' */
.icon-fork:before { content: '\ec23'; } /* '' */
.icon-rocket:before { content: '\ec24'; } /* '' */
.icon-bug:before { content: '\ec25'; } /* '' */
.icon-certificate-1:before { content: '\ec26'; } /* '' */
.icon-tasks:before { content: '\ec27'; } /* '' */
.icon-filter:before { content: '\ec28'; } /* '' */
.icon-beaker:before { content: '\ec29'; } /* '' */
.icon-magic:before { content: '\ec2a'; } /* '' */
.icon-truck:before { content: '\ec2b'; } /* '' */
.icon-money:before { content: '\ec2c'; } /* '' */
.icon-euro:before { content: '\ec2d'; } /* '' */
.icon-pound:before { content: '\ec2e'; } /* '' */
.icon-dollar:before { content: '\ec2f'; } /* '' */
.icon-rupee:before { content: '\ec30'; } /* '' */
.icon-yen:before { content: '\ec31'; } /* '' */
.icon-renminbi:before { content: '\ec32'; } /* '' */
.icon-try:before { content: '\ec33'; } /* '' */
.icon-won:before { content: '\ec34'; } /* '' */
.icon-bitcoin:before { content: '\ec35'; } /* '' */
.icon-sort:before { content: '\ec36'; } /* '' */
.icon-sort-down:before { content: '\ec37'; } /* '' */
.icon-sort-up:before { content: '\ec38'; } /* '' */
.icon-sort-alt-up:before { content: '\ec39'; } /* '' */
.icon-sort-alt-down:before { content: '\ec3a'; } /* '' */
.icon-sort-name-up:before { content: '\ec3b'; } /* '' */
.icon-sort-name-down:before { content: '\ec3c'; } /* '' */
.icon-sort-number-up:before { content: '\ec3d'; } /* '' */
.icon-sort-number-down:before { content: '\ec3e'; } /* '' */
.icon-hammer:before { content: '\ec3f'; } /* '' */
.icon-gauge:before { content: '\ec40'; } /* '' */
.icon-sitemap:before { content: '\ec41'; } /* '' */
.icon-spinner:before { content: '\ec42'; } /* '' */
.icon-coffee-1:before { content: '\ec43'; } /* '' */
.icon-food:before { content: '\ec44'; } /* '' */
.icon-beer-1:before { content: '\ec45'; } /* '' */
.icon-user-md:before { content: '\ec46'; } /* '' */
.icon-stethoscope:before { content: '\ec47'; } /* '' */
.icon-ambulance:before { content: '\ec48'; } /* '' */
.icon-medkit:before { content: '\ec49'; } /* '' */
.icon-h-sigh:before { content: '\ec4a'; } /* '' */
.icon-hospital:before { content: '\ec4b'; } /* '' */
.icon-building:before { content: '\ec4c'; } /* '' */
.icon-smile:before { content: '\ec4d'; } /* '' */
.icon-frown:before { content: '\ec4e'; } /* '' */
.icon-meh:before { content: '\ec4f'; } /* '' */
.icon-anchor-1:before { content: '\ec50'; } /* '' */
.icon-terminal:before { content: '\ec51'; } /* '' */
.icon-eraser:before { content: '\ec52'; } /* '' */
.icon-puzzle-1:before { content: '\ec53'; } /* '' */
.icon-shield:before { content: '\ec54'; } /* '' */
.icon-extinguisher:before { content: '\ec55'; } /* '' */
.icon-bullseye:before { content: '\ec56'; } /* '' */
.icon-wheelchair:before { content: '\ec57'; } /* '' */
.icon-adn:before { content: '\ec58'; } /* '' */
.icon-android:before { content: '\ec59'; } /* '' */
.icon-apple:before { content: '\ec5a'; } /* '' */
.icon-bitbucket:before { content: '\ec5b'; } /* '' */
.icon-bitbucket-squared:before { content: '\ec5c'; } /* '' */
.icon-css3:before { content: '\ec5d'; } /* '' */
.icon-dribbble-2:before { content: '\ec5e'; } /* '' */
.icon-dropbox:before { content: '\ec5f'; } /* '' */
.icon-facebook-2:before { content: '\ec60'; } /* '' */
.icon-facebook-squared:before { content: '\ec61'; } /* '' */
.icon-flickr-2:before { content: '\ec62'; } /* '' */
.icon-foursquare:before { content: '\ec63'; } /* '' */
.icon-github-2:before { content: '\ec64'; } /* '' */
.icon-github-squared:before { content: '\ec65'; } /* '' */
.icon-github-circled-2:before { content: '\ec66'; } /* '' */
.icon-gittip:before { content: '\ec67'; } /* '' */
.icon-gplus-squared:before { content: '\ec68'; } /* '' */
.icon-gplus:before { content: '\ec69'; } /* '' */
.icon-html5:before { content: '\ec6a'; } /* '' */
.icon-instagramm:before { content: '\ec6b'; } /* '' */
.icon-linkedin-squared:before { content: '\ec6c'; } /* '' */
.icon-linux:before { content: '\ec6d'; } /* '' */
.icon-linkedin-2:before { content: '\ec6e'; } /* '' */
.icon-maxcdn:before { content: '\ec6f'; } /* '' */
.icon-pagelines:before { content: '\ec70'; } /* '' */
.icon-pinterest-circled-2:before { content: '\ec71'; } /* '' */
.icon-pinterest-squared:before { content: '\ec72'; } /* '' */
.icon-renren:before { content: '\ec73'; } /* '' */
.icon-skype-2:before { content: '\ec74'; } /* '' */
.icon-stackexchange:before { content: '\ec75'; } /* '' */
.icon-stackoverflow:before { content: '\ec76'; } /* '' */
.icon-trello:before { content: '\ec77'; } /* '' */
.icon-tumblr:before { content: '\ec78'; } /* '' */
.icon-tumblr-squared:before { content: '\ec79'; } /* '' */
.icon-twitter-squared:before { content: '\ec7a'; } /* '' */
.icon-twitter-2:before { content: '\ec7b'; } /* '' */
.icon-vimeo-squared:before { content: '\ec7c'; } /* '' */
.icon-vkontakte:before { content: '\ec7d'; } /* '' */
.icon-weibo:before { content: '\ec7e'; } /* '' */
.icon-windows:before { content: '\ec7f'; } /* '' */
.icon-xing:before { content: '\ec80'; } /* '' */
.icon-xing-squared:before { content: '\ec81'; } /* '' */
.icon-youtube:before { content: '\ec82'; } /* '' */
.icon-youtube-squared:before { content: '\ec83'; } /* '' */
.icon-youtube-play:before { content: '\ec84'; } /* '' */
.icon-blank:before { content: '\ec85'; } /* '' */
.icon-lemon:before { content: '\ec86'; } /* '' */
.icon-note:before { content: '\e813'; } /* '' */
.icon-note-beamed:before { content: '\e812'; } /* '' */
.icon-music-1:before { content: '\e811'; } /* '' */
.icon-search-1:before { content: '\e810'; } /* '' */
.icon-flashlight:before { content: '\e80f'; } /* '' */
.icon-mail-1:before { content: '\e80e'; } /* '' */
.icon-heart-1:before { content: '\e80d'; } /* '' */
.icon-heart-empty-1:before { content: '\e80c'; } /* '' */
.icon-star-1:before { content: '\e80b'; } /* '' */
.icon-star-empty-1:before { content: '\e80a'; } /* '' */
.icon-user-1:before { content: '\e809'; } /* '' */
.icon-users-1:before { content: '\e826'; } /* '' */
.icon-user-add:before { content: '\e808'; } /* '' */
.icon-video-1:before { content: '\e807'; } /* '' */
.icon-picture-1:before { content: '\e806'; } /* '' */
.icon-camera-1:before { content: '\e804'; } /* '' */
.icon-layout:before { content: '\e805'; } /* '' */
.icon-menu-1:before { content: '\e803'; } /* '' */
.icon-check-1:before { content: '\e802'; } /* '' */
.icon-cancel-1:before { content: '\e801'; } /* '' */
.icon-cancel-circled-1:before { content: '\e83e'; } /* '' */
.icon-cancel-squared:before { content: '\e83f'; } /* '' */
.icon-plus-1:before { content: '\e840'; } /* '' */
.icon-plus-circled-1:before { content: '\e841'; } /* '' */
.icon-plus-squared-1:before { content: '\e842'; } /* '' */
.icon-minus-1:before { content: '\e843'; } /* '' */
.icon-minus-circled-1:before { content: '\e844'; } /* '' */
.icon-minus-squared-1:before { content: '\e845'; } /* '' */
.icon-help-1:before { content: '\e846'; } /* '' */
.icon-help-circled-1:before { content: '\e847'; } /* '' */
.icon-info-1:before { content: '\e848'; } /* '' */
.icon-info-circled-1:before { content: '\e827'; } /* '' */
.icon-back:before { content: '\e828'; } /* '' */
.icon-home-1:before { content: '\e829'; } /* '' */
.icon-link-1:before { content: '\e825'; } /* '' */
.icon-attach-1:before { content: '\e824'; } /* '' */
.icon-lock-1:before { content: '\e81e'; } /* '' */
.icon-lock-open-1:before { content: '\e81c'; } /* '' */
.icon-eye-1:before { content: '\e81b'; } /* '' */
.icon-tag-1:before { content: '\e814'; } /* '' */
.icon-bookmark-1:before { content: '\e870'; } /* '' */
.icon-bookmarks:before { content: '\e86f'; } /* '' */
.icon-flag-1:before { content: '\e86e'; } /* '' */
.icon-thumbs-up-1:before { content: '\e86d'; } /* '' */
.icon-thumbs-down-1:before { content: '\e867'; } /* '' */
.icon-download-1:before { content: '\e868'; } /* '' */
.icon-upload-1:before { content: '\e869'; } /* '' */
.icon-upload-cloud-1:before { content: '\e86a'; } /* '' */
.icon-reply-1:before { content: '\e86b'; } /* '' */
.icon-reply-all-1:before { content: '\e86c'; } /* '' */
.icon-forward-1:before { content: '\e849'; } /* '' */
.icon-quote:before { content: '\e84a'; } /* '' */
.icon-code-1:before { content: '\e84b'; } /* '' */
.icon-export-1:before { content: '\e82a'; } /* '' */
.icon-pencil-1:before { content: '\e82d'; } /* '' */
.icon-feather:before { content: '\e82e'; } /* '' */
.icon-print-1:before { content: '\e81f'; } /* '' */
.icon-retweet-1:before { content: '\e81d'; } /* '' */
.icon-keyboard-1:before { content: '\e81a'; } /* '' */
.icon-comment-1:before { content: '\e815'; } /* '' */
.icon-chat-1:before { content: '\e871'; } /* '' */
.icon-bell-1:before { content: '\e876'; } /* '' */
.icon-attention-1:before { content: '\e877'; } /* '' */
.icon-alert:before { content: '\e87c'; } /* '' */
.icon-vcard:before { content: '\e866'; } /* '' */
.icon-address:before { content: '\e863'; } /* '' */
.icon-location-1:before { content: '\e862'; } /* '' */
.icon-map:before { content: '\e85f'; } /* '' */
.icon-direction-1:before { content: '\e85e'; } /* '' */
.icon-compass-1:before { content: '\e85c'; } /* '' */
.icon-cup:before { content: '\e859'; } /* '' */
.icon-trash-1:before { content: '\e858'; } /* '' */
.icon-doc-1:before { content: '\e84c'; } /* '' */
.icon-docs-1:before { content: '\e82b'; } /* '' */
.icon-doc-landscape:before { content: '\e82c'; } /* '' */
.icon-doc-text-1:before { content: '\e82f'; } /* '' */
.icon-doc-text-inv-1:before { content: '\e820'; } /* '' */
.icon-newspaper:before { content: '\e823'; } /* '' */
.icon-book-open:before { content: '\e819'; } /* '' */
.icon-book-1:before { content: '\e816'; } /* '' */
.icon-folder-1:before { content: '\e872'; } /* '' */
.icon-archive:before { content: '\e875'; } /* '' */
.icon-box-1:before { content: '\e878'; } /* '' */
.icon-rss-1:before { content: '\e87b'; } /* '' */
.icon-phone-1:before { content: '\e865'; } /* '' */
.icon-cog-1:before { content: '\e864'; } /* '' */
.icon-tools:before { content: '\e861'; } /* '' */
.icon-share:before { content: '\e860'; } /* '' */
.icon-shareable:before { content: '\e85d'; } /* '' */
.icon-basket-1:before { content: '\e85b'; } /* '' */
.icon-bag:before { content: '\e85a'; } /* '' */
.icon-calendar-1:before { content: '\e857'; } /* '' */
.icon-login-1:before { content: '\e84d'; } /* '' */
.icon-mic-1:before { content: '\e831'; } /* '' */
.icon-mute-1:before { content: '\e830'; } /* '' */
.icon-sound:before { content: '\e821'; } /* '' */
.icon-volume:before { content: '\e822'; } /* '' */
.icon-clock-1:before { content: '\e818'; } /* '' */
.icon-hourglass:before { content: '\e817'; } /* '' */
.icon-lamp:before { content: '\e873'; } /* '' */
.icon-light-down:before { content: '\e874'; } /* '' */
.icon-light-up:before { content: '\e879'; } /* '' */
.icon-adjust:before { content: '\e87a'; } /* '' */
.icon-block-1:before { content: '\e87d'; } /* '' */
.icon-resize-full-1:before { content: '\e87e'; } /* '' */
.icon-resize-small-1:before { content: '\e87f'; } /* '' */
.icon-popup:before { content: '\e886'; } /* '' */
.icon-publish:before { content: '\e885'; } /* '' */
.icon-window:before { content: '\e887'; } /* '' */
.icon-arrow-combo:before { content: '\e888'; } /* '' */
.icon-down-circled-1:before { content: '\e856'; } /* '' */
.icon-left-circled-1:before { content: '\e84e'; } /* '' */
.icon-right-circled-1:before { content: '\e851'; } /* '' */
.icon-up-circled-1:before { content: '\e832'; } /* '' */
.icon-down-open-1:before { content: '\e833'; } /* '' */
.icon-left-open-1:before { content: '\e834'; } /* '' */
.icon-right-open-1:before { content: '\e835'; } /* '' */
.icon-up-open-1:before { content: '\e836'; } /* '' */
.icon-down-open-mini:before { content: '\e837'; } /* '' */
.icon-left-open-mini:before { content: '\e892'; } /* '' */
.icon-right-open-mini:before { content: '\e893'; } /* '' */
.icon-up-open-mini:before { content: '\e894'; } /* '' */
.icon-down-open-big:before { content: '\e895'; } /* '' */
.icon-left-open-big:before { content: '\e896'; } /* '' */
.icon-right-open-big:before { content: '\e897'; } /* '' */
.icon-up-open-big:before { content: '\e880'; } /* '' */
.icon-down-1:before { content: '\e883'; } /* '' */
.icon-left-1:before { content: '\e884'; } /* '' */
.icon-right-1:before { content: '\e88c'; } /* '' */
.icon-up-1:before { content: '\e889'; } /* '' */
.icon-down-dir-1:before { content: '\e855'; } /* '' */
.icon-left-dir-1:before { content: '\e84f'; } /* '' */
.icon-right-dir-1:before { content: '\e850'; } /* '' */
.icon-up-dir-1:before { content: '\e83d'; } /* '' */
.icon-down-bold:before { content: '\e83c'; } /* '' */
.icon-left-bold:before { content: '\e83b'; } /* '' */
.icon-right-bold:before { content: '\e83a'; } /* '' */
.icon-up-bold:before { content: '\e839'; } /* '' */
.icon-down-thin:before { content: '\e838'; } /* '' */
.icon-left-thin:before { content: '\e891'; } /* '' */
.icon-right-thin:before { content: '\e890'; } /* '' */
.icon-up-thin:before { content: '\e899'; } /* '' */
.icon-ccw-1:before { content: '\e88f'; } /* '' */
.icon-cw-1:before { content: '\e898'; } /* '' */
.icon-arrows-ccw:before { content: '\e88e'; } /* '' */
.icon-level-down-1:before { content: '\e881'; } /* '' */
.icon-level-up-1:before { content: '\e882'; } /* '' */
.icon-shuffle-1:before { content: '\e88d'; } /* '' */
.icon-loop:before { content: '\e88b'; } /* '' */
.icon-switch:before { content: '\e88a'; } /* '' */
.icon-play-1:before { content: '\e854'; } /* '' */
.icon-stop-1:before { content: '\e853'; } /* '' */
.icon-pause-1:before { content: '\e852'; } /* '' */
.icon-record:before { content: '\e8ab'; } /* '' */
.icon-to-end-1:before { content: '\e8aa'; } /* '' */
.icon-to-start-1:before { content: '\e8a9'; } /* '' */
.icon-fast-forward:before { content: '\e8a8'; } /* '' */
.icon-fast-backward:before { content: '\e8a1'; } /* '' */
.icon-progress-0:before { content: '\e8a2'; } /* '' */
.icon-progress-1:before { content: '\e8ef'; } /* '' */
.icon-progress-2:before { content: '\e8ee'; } /* '' */
.icon-progress-3:before { content: '\e8ed'; } /* '' */
.icon-target-1:before { content: '\e8ec'; } /* '' */
.icon-palette:before { content: '\e8eb'; } /* '' */
.icon-list-1:before { content: '\e8ea'; } /* '' */
.icon-list-add:before { content: '\e8e9'; } /* '' */
.icon-signal-1:before { content: '\e8e8'; } /* '' */
.icon-trophy:before { content: '\e8b2'; } /* '' */
.icon-battery:before { content: '\e8bd'; } /* '' */
.icon-back-in-time:before { content: '\e8b0'; } /* '' */
.icon-monitor:before { content: '\e8af'; } /* '' */
.icon-mobile-1:before { content: '\e8ae'; } /* '' */
.icon-network:before { content: '\e8ad'; } /* '' */
.icon-cd:before { content: '\e8ac'; } /* '' */
.icon-inbox-1:before { content: '\e8c1'; } /* '' */
.icon-install:before { content: '\e8c2'; } /* '' */
.icon-globe-1:before { content: '\e8c3'; } /* '' */
.icon-cloud-1:before { content: '\e8a0'; } /* '' */
.icon-cloud-thunder:before { content: '\e8a3'; } /* '' */
.icon-flash-1:before { content: '\e8f0'; } /* '' */
.icon-moon-1:before { content: '\e8f5'; } /* '' */
.icon-flight-1:before { content: '\e8f6'; } /* '' */
.icon-paper-plane:before { content: '\e8f7'; } /* '' */
.icon-leaf-1:before { content: '\e8f8'; } /* '' */
.icon-lifebuoy:before { content: '\e8ff'; } /* '' */
.icon-mouse:before { content: '\e901'; } /* '' */
.icon-briefcase-1:before { content: '\e902'; } /* '' */
.icon-suitcase-1:before { content: '\e8b3'; } /* '' */
.icon-dot:before { content: '\e8b1'; } /* '' */
.icon-dot-2:before { content: '\e8bc'; } /* '' */
.icon-dot-3:before { content: '\e8be'; } /* '' */
.icon-brush:before { content: '\e8bf'; } /* '' */
.icon-magnet-1:before { content: '\e8c0'; } /* '' */
.icon-infinity:before { content: '\e8c7'; } /* '' */
.icon-erase:before { content: '\e8c6'; } /* '' */
.icon-chart-pie:before { content: '\e8c5'; } /* '' */
.icon-chart-line:before { content: '\e8c4'; } /* '' */
.icon-chart-bar-1:before { content: '\e89f'; } /* '' */
.icon-chart-area:before { content: '\e8a4'; } /* '' */
.icon-tape:before { content: '\e8f1'; } /* '' */
.icon-graduation-cap:before { content: '\e8f4'; } /* '' */
.icon-language:before { content: '\e8fb'; } /* '' */
.icon-ticket-1:before { content: '\e8fa'; } /* '' */
.icon-water:before { content: '\e8f9'; } /* '' */
.icon-droplet:before { content: '\e8fe'; } /* '' */
.icon-air:before { content: '\e904'; } /* '' */
.icon-credit-card-1:before { content: '\e903'; } /* '' */
.icon-floppy-1:before { content: '\e8b4'; } /* '' */
.icon-clipboard:before { content: '\e8bb'; } /* '' */
.icon-megaphone-1:before { content: '\e8d8'; } /* '' */
.icon-database:before { content: '\e8df'; } /* '' */
.icon-drive:before { content: '\e8e0'; } /* '' */
.icon-bucket:before { content: '\e8e1'; } /* '' */
.icon-thermometer:before { content: '\e8c8'; } /* '' */
.icon-key-1:before { content: '\e8cf'; } /* '' */
.icon-flow-cascade:before { content: '\e8d0'; } /* '' */
.icon-flow-branch:before { content: '\e8d1'; } /* '' */
.icon-flow-tree:before { content: '\e89e'; } /* '' */
.icon-flow-line:before { content: '\e8a6'; } /* '' */
.icon-flow-parallel:before { content: '\e8f2'; } /* '' */
.icon-rocket-1:before { content: '\e8f3'; } /* '' */
.icon-gauge-1:before { content: '\e8fc'; } /* '' */
.icon-traffic-cone:before { content: '\e900'; } /* '' */
.icon-cc:before { content: '\e8fd'; } /* '' */
.icon-cc-by:before { content: '\e905'; } /* '' */
.icon-cc-nc:before { content: '\e906'; } /* '' */
.icon-cc-nc-eu:before { content: '\e907'; } /* '' */
.icon-cc-nc-jp:before { content: '\e8b5'; } /* '' */
.icon-cc-sa:before { content: '\e8ba'; } /* '' */
.icon-cc-nd:before { content: '\e8d9'; } /* '' */
.icon-cc-pd:before { content: '\e8de'; } /* '' */
.icon-cc-zero:before { content: '\e8e7'; } /* '' */
.icon-music-3:before { content: '\e91c'; } /* '' */
.icon-cc-remix:before { content: '\e8c9'; } /* '' */
.icon-github-1:before { content: '\e8ce'; } /* '' */
.icon-github-circled-1:before { content: '\e8d3'; } /* '' */
.icon-flickr-1:before { content: '\e8d2'; } /* '' */
.icon-flickr-circled:before { content: '\e89d'; } /* '' */
.icon-vimeo:before { content: '\e8a7'; } /* '' */
.icon-vimeo-circled:before { content: '\e915'; } /* '' */
.icon-twitter-1:before { content: '\e916'; } /* '' */
.icon-twitter-circled:before { content: '\e917'; } /* '' */
.icon-facebook-1:before { content: '\e918'; } /* '' */
.icon-facebook-circled:before { content: '\e90e'; } /* '' */
.icon-facebook-squared-1:before { content: '\e90d'; } /* '' */
.icon-gplus-1:before { content: '\e90a'; } /* '' */
.icon-gplus-circled:before { content: '\e909'; } /* '' */
.icon-pinterest:before { content: '\e8b6'; } /* '' */
.icon-pinterest-circled-1:before { content: '\e8b9'; } /* '' */
.icon-tumblr-1:before { content: '\e8da'; } /* '' */
.icon-tumblr-circled:before { content: '\e8dd'; } /* '' */
.icon-linkedin-1:before { content: '\e8e6'; } /* '' */
.icon-linkedin-circled:before { content: '\e8e3'; } /* '' */
.icon-dribbble-1:before { content: '\e8ca'; } /* '' */
.icon-dribbble-circled:before { content: '\e8cd'; } /* '' */
.icon-stumbleupon:before { content: '\e8d4'; } /* '' */
.icon-stumbleupon-circled:before { content: '\e8d7'; } /* '' */
.icon-lastfm:before { content: '\e89c'; } /* '' */
.icon-lastfm-circled:before { content: '\e8a5'; } /* '' */
.icon-rdio:before { content: '\e914'; } /* '' */
.icon-rdio-circled:before { content: '\e91a'; } /* '' */
.icon-spotify:before { content: '\e919'; } /* '' */
.icon-spotify-circled:before { content: '\e910'; } /* '' */
.icon-qq:before { content: '\e90f'; } /* '' */
.icon-instagram:before { content: '\e90c'; } /* '' */
.icon-dropbox-1:before { content: '\e90b'; } /* '' */
.icon-evernote:before { content: '\e908'; } /* '' */
.icon-flattr:before { content: '\e8b7'; } /* '' */
.icon-skype-1:before { content: '\e8b8'; } /* '' */
.icon-skype-circled:before { content: '\e8db'; } /* '' */
.icon-renren-1:before { content: '\e8dc'; } /* '' */
.icon-sina-weibo:before { content: '\e8e5'; } /* '' */
.icon-paypal:before { content: '\e8e4'; } /* '' */
.icon-picasa:before { content: '\e8cb'; } /* '' */
.icon-soundcloud:before { content: '\e8cc'; } /* '' */
.icon-mixi:before { content: '\e8d5'; } /* '' */
.icon-behance:before { content: '\e8d6'; } /* '' */
.icon-google-circles:before { content: '\e89b'; } /* '' */
.icon-vkontakte-1:before { content: '\e89a'; } /* '' */
.icon-smashing:before { content: '\e913'; } /* '' */
.icon-sweden:before { content: '\e912'; } /* '' */
.icon-db-shape:before { content: '\e91b'; } /* '' */
.icon-logo-db:before { content: '\e911'; } /* '' */
.icon-music-outline:before { content: '\e969'; } /* '' */
.icon-music:before { content: '\e96a'; } /* '' */
.icon-search-outline:before { content: '\e96b'; } /* '' */
.icon-search:before { content: '\e96c'; } /* '' */
.icon-mail:before { content: '\e96d'; } /* '' */
.icon-heart:before { content: '\e96e'; } /* '' */
.icon-heart-filled:before { content: '\e96f'; } /* '' */
.icon-star:before { content: '\e970'; } /* '' */
.icon-star-filled:before { content: '\e971'; } /* '' */
.icon-user-outline:before { content: '\e972'; } /* '' */
.icon-user:before { content: '\e973'; } /* '' */
.icon-users-outline:before { content: '\e974'; } /* '' */
.icon-users:before { content: '\e975'; } /* '' */
.icon-user-add-outline:before { content: '\e976'; } /* '' */
.icon-user-add-1:before { content: '\e977'; } /* '' */
.icon-user-delete-outline:before { content: '\e978'; } /* '' */
.icon-user-delete:before { content: '\e979'; } /* '' */
.icon-video:before { content: '\e97a'; } /* '' */
.icon-videocam-outline:before { content: '\e97b'; } /* '' */
.icon-videocam:before { content: '\e97c'; } /* '' */
.icon-picture-outline:before { content: '\e97d'; } /* '' */
.icon-picture:before { content: '\e97e'; } /* '' */
.icon-camera-outline:before { content: '\e97f'; } /* '' */
.icon-camera:before { content: '\e980'; } /* '' */
.icon-th-outline:before { content: '\e981'; } /* '' */
.icon-th:before { content: '\e982'; } /* '' */
.icon-th-large-outline:before { content: '\e983'; } /* '' */
.icon-th-large:before { content: '\e984'; } /* '' */
.icon-th-list-outline:before { content: '\e985'; } /* '' */
.icon-th-list:before { content: '\e986'; } /* '' */
.icon-ok-outline:before { content: '\e987'; } /* '' */
.icon-ok:before { content: '\e988'; } /* '' */
.icon-cancel-outline:before { content: '\e989'; } /* '' */
.icon-cancel:before { content: '\e98a'; } /* '' */
.icon-cancel-alt:before { content: '\e98b'; } /* '' */
.icon-cancel-alt-filled:before { content: '\e98c'; } /* '' */
.icon-cancel-circled-outline:before { content: '\e98d'; } /* '' */
.icon-cancel-circled:before { content: '\e98e'; } /* '' */
.icon-plus-outline:before { content: '\e98f'; } /* '' */
.icon-plus:before { content: '\e990'; } /* '' */
.icon-minus-outline:before { content: '\e991'; } /* '' */
.icon-minus:before { content: '\e992'; } /* '' */
.icon-divide-outline:before { content: '\e993'; } /* '' */
.icon-divide:before { content: '\e994'; } /* '' */
.icon-eq-outline:before { content: '\e995'; } /* '' */
.icon-eq:before { content: '\e996'; } /* '' */
.icon-info-outline:before { content: '\e997'; } /* '' */
.icon-info:before { content: '\e998'; } /* '' */
.icon-home-outline:before { content: '\e999'; } /* '' */
.icon-home:before { content: '\e99a'; } /* '' */
.icon-link-outline:before { content: '\e99b'; } /* '' */
.icon-link:before { content: '\e99c'; } /* '' */
.icon-attach-outline:before { content: '\e99d'; } /* '' */
.icon-attach:before { content: '\e99e'; } /* '' */
.icon-lock:before { content: '\e99f'; } /* '' */
.icon-lock-filled:before { content: '\e9a0'; } /* '' */
.icon-lock-open:before { content: '\e9a1'; } /* '' */
.icon-lock-open-filled:before { content: '\e9a2'; } /* '' */
.icon-pin-outline:before { content: '\e9a3'; } /* '' */
.icon-pin:before { content: '\e9a4'; } /* '' */
.icon-eye-outline:before { content: '\e9a5'; } /* '' */
.icon-eye:before { content: '\e9a6'; } /* '' */
.icon-tag:before { content: '\e9a7'; } /* '' */
.icon-tags:before { content: '\e9a8'; } /* '' */
.icon-bookmark:before { content: '\e9a9'; } /* '' */
.icon-flag:before { content: '\e9aa'; } /* '' */
.icon-flag-filled:before { content: '\e9ab'; } /* '' */
.icon-thumbs-up:before { content: '\e9ac'; } /* '' */
.icon-thumbs-down:before { content: '\e9ad'; } /* '' */
.icon-download-outline:before { content: '\e9ae'; } /* '' */
.icon-download:before { content: '\e9af'; } /* '' */
.icon-upload-outline:before { content: '\e9b0'; } /* '' */
.icon-upload:before { content: '\e9b1'; } /* '' */
.icon-upload-cloud-outline:before { content: '\e9b2'; } /* '' */
.icon-upload-cloud:before { content: '\e9b3'; } /* '' */
.icon-reply-outline:before { content: '\e9b4'; } /* '' */
.icon-reply:before { content: '\e9b5'; } /* '' */
.icon-forward-outline:before { content: '\e9b6'; } /* '' */
.icon-forward:before { content: '\e9b7'; } /* '' */
.icon-code-outline:before { content: '\e9b8'; } /* '' */
.icon-code:before { content: '\e9b9'; } /* '' */
.icon-export-outline:before { content: '\e9ba'; } /* '' */
.icon-export:before { content: '\e9bb'; } /* '' */
.icon-pencil:before { content: '\e9bc'; } /* '' */
.icon-pen:before { content: '\e9bd'; } /* '' */
.icon-feather-1:before { content: '\e9be'; } /* '' */
.icon-edit:before { content: '\e9bf'; } /* '' */
.icon-print:before { content: '\e9c0'; } /* '' */
.icon-comment:before { content: '\e9c1'; } /* '' */
.icon-chat:before { content: '\e9c2'; } /* '' */
.icon-chat-alt:before { content: '\e9c3'; } /* '' */
.icon-bell:before { content: '\e9c4'; } /* '' */
.icon-attention:before { content: '\e9c5'; } /* '' */
.icon-attention-filled:before { content: '\e9c6'; } /* '' */
.icon-warning-empty:before { content: '\e9c7'; } /* '' */
.icon-warning:before { content: '\e9c8'; } /* '' */
.icon-contacts:before { content: '\e9c9'; } /* '' */
.icon-vcard-1:before { content: '\e9ca'; } /* '' */
.icon-address-1:before { content: '\e9cb'; } /* '' */
.icon-location-outline:before { content: '\e9cc'; } /* '' */
.icon-location:before { content: '\e9cd'; } /* '' */
.icon-map-1:before { content: '\e9ce'; } /* '' */
.icon-direction-outline:before { content: '\e9cf'; } /* '' */
.icon-direction:before { content: '\e9d0'; } /* '' */
.icon-compass:before { content: '\e9d1'; } /* '' */
.icon-trash:before { content: '\e9d2'; } /* '' */
.icon-doc:before { content: '\e9d3'; } /* '' */
.icon-doc-text:before { content: '\e9d4'; } /* '' */
.icon-doc-add:before { content: '\e9d5'; } /* '' */
.icon-doc-remove:before { content: '\e9d6'; } /* '' */
.icon-news:before { content: '\e9d7'; } /* '' */
.icon-folder:before { content: '\e9d8'; } /* '' */
.icon-folder-add:before { content: '\e9d9'; } /* '' */
.icon-folder-delete:before { content: '\e9da'; } /* '' */
.icon-archive-1:before { content: '\e9db'; } /* '' */
.icon-box:before { content: '\e9dc'; } /* '' */
.icon-rss-outline:before { content: '\e9dd'; } /* '' */
.icon-rss:before { content: '\e9de'; } /* '' */
.icon-phone-outline:before { content: '\e9df'; } /* '' */
.icon-phone:before { content: '\e9e0'; } /* '' */
.icon-menu-outline:before { content: '\e9e1'; } /* '' */
.icon-menu:before { content: '\e9e2'; } /* '' */
.icon-cog-outline:before { content: '\e9e3'; } /* '' */
.icon-cog:before { content: '\e9e4'; } /* '' */
.icon-wrench-outline:before { content: '\e9e5'; } /* '' */
.icon-wrench:before { content: '\e9e6'; } /* '' */
.icon-basket:before { content: '\e9e7'; } /* '' */
.icon-calendar-outlilne:before { content: '\e9e8'; } /* '' */
.icon-calendar:before { content: '\e9e9'; } /* '' */
.icon-mic-outline:before { content: '\e9ea'; } /* '' */
.icon-mic:before { content: '\e9eb'; } /* '' */
.icon-volume-off:before { content: '\e9ec'; } /* '' */
.icon-volume-low:before { content: '\e9ed'; } /* '' */
.icon-volume-middle:before { content: '\e9ee'; } /* '' */
.icon-volume-high:before { content: '\e9ef'; } /* '' */
.icon-headphones:before { content: '\e9f0'; } /* '' */
.icon-clock:before { content: '\e9f1'; } /* '' */
.icon-wristwatch:before { content: '\e9f2'; } /* '' */
.icon-stopwatch:before { content: '\e9f3'; } /* '' */
.icon-lightbulb:before { content: '\e9f4'; } /* '' */
.icon-block-outline:before { content: '\e9f5'; } /* '' */
.icon-block:before { content: '\e9f6'; } /* '' */
.icon-resize-full-outline:before { content: '\e9f7'; } /* '' */
.icon-resize-full:before { content: '\e9f8'; } /* '' */
.icon-resize-normal-outline:before { content: '\e9f9'; } /* '' */
.icon-resize-normal:before { content: '\e9fa'; } /* '' */
.icon-move-outline:before { content: '\e9fb'; } /* '' */
.icon-move:before { content: '\e9fc'; } /* '' */
.icon-popup-1:before { content: '\e9fd'; } /* '' */
.icon-zoom-in-outline:before { content: '\e9fe'; } /* '' */
.icon-zoom-in:before { content: '\e9ff'; } /* '' */
.icon-zoom-out-outline:before { content: '\ea00'; } /* '' */
.icon-zoom-out:before { content: '\ea01'; } /* '' */
.icon-popup-2:before { content: '\ea02'; } /* '' */
.icon-left-open-outline:before { content: '\ea03'; } /* '' */
.icon-left-open:before { content: '\ea04'; } /* '' */
.icon-right-open-outline:before { content: '\ea05'; } /* '' */
.icon-right-open:before { content: '\ea06'; } /* '' */
.icon-down:before { content: '\ea07'; } /* '' */
.icon-left:before { content: '\ea08'; } /* '' */
.icon-right:before { content: '\ea09'; } /* '' */
.icon-up:before { content: '\ea0a'; } /* '' */
.icon-down-outline:before { content: '\ea0b'; } /* '' */
.icon-left-outline:before { content: '\ea0c'; } /* '' */
.icon-right-outline:before { content: '\ea0d'; } /* '' */
.icon-up-outline:before { content: '\ea0e'; } /* '' */
.icon-down-small:before { content: '\ea0f'; } /* '' */
.icon-left-small:before { content: '\ea10'; } /* '' */
.icon-right-small:before { content: '\ea11'; } /* '' */
.icon-up-small:before { content: '\ea12'; } /* '' */
.icon-cw-outline:before { content: '\ea13'; } /* '' */
.icon-cw:before { content: '\ea14'; } /* '' */
.icon-arrows-cw-outline:before { content: '\ea15'; } /* '' */
.icon-arrows-cw:before { content: '\ea16'; } /* '' */
.icon-loop-outline:before { content: '\ea17'; } /* '' */
.icon-loop-1:before { content: '\ea18'; } /* '' */
.icon-loop-alt-outline:before { content: '\ea19'; } /* '' */
.icon-loop-alt:before { content: '\ea1a'; } /* '' */
.icon-shuffle:before { content: '\ea1b'; } /* '' */
.icon-play-outline:before { content: '\ea1c'; } /* '' */
.icon-play:before { content: '\ea1d'; } /* '' */
.icon-stop-outline:before { content: '\ea1e'; } /* '' */
.icon-stop:before { content: '\ea1f'; } /* '' */
.icon-pause-outline:before { content: '\ea20'; } /* '' */
.icon-pause:before { content: '\ea21'; } /* '' */
.icon-fast-fw-outline:before { content: '\ea22'; } /* '' */
.icon-fast-fw:before { content: '\ea23'; } /* '' */
.icon-rewind-outline:before { content: '\ea24'; } /* '' */
.icon-rewind:before { content: '\ea25'; } /* '' */
.icon-record-outline:before { content: '\ea26'; } /* '' */
.icon-record-1:before { content: '\ea27'; } /* '' */
.icon-eject-outline:before { content: '\ea28'; } /* '' */
.icon-eject:before { content: '\ea29'; } /* '' */
.icon-eject-alt-outline:before { content: '\ea2a'; } /* '' */
.icon-eject-alt:before { content: '\ea2b'; } /* '' */
.icon-bat1:before { content: '\ea2c'; } /* '' */
.icon-bat2:before { content: '\ea2d'; } /* '' */
.icon-bat3:before { content: '\ea2e'; } /* '' */
.icon-bat4:before { content: '\ea2f'; } /* '' */
.icon-bat-charge:before { content: '\ea30'; } /* '' */
.icon-plug:before { content: '\ea31'; } /* '' */
.icon-target-outline:before { content: '\ea32'; } /* '' */
.icon-target:before { content: '\ea33'; } /* '' */
.icon-wifi-outline:before { content: '\ea34'; } /* '' */
.icon-wifi:before { content: '\ea35'; } /* '' */
.icon-desktop:before { content: '\ea36'; } /* '' */
.icon-laptop:before { content: '\ea37'; } /* '' */
.icon-tablet:before { content: '\ea38'; } /* '' */
.icon-mobile:before { content: '\ea39'; } /* '' */
.icon-contrast:before { content: '\ea3a'; } /* '' */
.icon-globe-outline:before { content: '\ea3b'; } /* '' */
.icon-globe:before { content: '\ea3c'; } /* '' */
.icon-globe-alt-outline:before { content: '\ea3d'; } /* '' */
.icon-globe-alt:before { content: '\ea3e'; } /* '' */
.icon-sun:before { content: '\ea3f'; } /* '' */
.icon-sun-filled:before { content: '\ea40'; } /* '' */
.icon-cloud:before { content: '\ea41'; } /* '' */
.icon-flash-outline:before { content: '\ea42'; } /* '' */
.icon-flash:before { content: '\ea43'; } /* '' */
.icon-moon:before { content: '\ea44'; } /* '' */
.icon-waves-outline:before { content: '\ea45'; } /* '' */
.icon-waves:before { content: '\ea46'; } /* '' */
.icon-rain:before { content: '\ea47'; } /* '' */
.icon-cloud-sun:before { content: '\ea48'; } /* '' */
.icon-drizzle:before { content: '\ea49'; } /* '' */
.icon-snow:before { content: '\ea4a'; } /* '' */
.icon-cloud-flash:before { content: '\ea4b'; } /* '' */
.icon-cloud-wind:before { content: '\ea4c'; } /* '' */
.icon-wind:before { content: '\ea4d'; } /* '' */
.icon-plane-outline:before { content: '\ea4e'; } /* '' */
.icon-plane:before { content: '\ea4f'; } /* '' */
.icon-leaf:before { content: '\ea50'; } /* '' */
.icon-lifebuoy-1:before { content: '\ea51'; } /* '' */
.icon-briefcase:before { content: '\ea52'; } /* '' */
.icon-brush-1:before { content: '\ea53'; } /* '' */
.icon-pipette:before { content: '\ea54'; } /* '' */
.icon-power-outline:before { content: '\ea55'; } /* '' */
.icon-power:before { content: '\ea56'; } /* '' */
.icon-check-outline:before { content: '\ea57'; } /* '' */
.icon-check:before { content: '\ea58'; } /* '' */
.icon-gift:before { content: '\ea59'; } /* '' */
.icon-temperatire:before { content: '\ea5a'; } /* '' */
.icon-chart-outline:before { content: '\ea5b'; } /* '' */
.icon-chart:before { content: '\ea5c'; } /* '' */
.icon-chart-alt-outline:before { content: '\ea5d'; } /* '' */
.icon-chart-alt:before { content: '\ea5e'; } /* '' */
.icon-chart-bar-outline:before { content: '\ea5f'; } /* '' */
.icon-chart-bar:before { content: '\ea60'; } /* '' */
.icon-chart-pie-outline:before { content: '\ea61'; } /* '' */
.icon-chart-pie-1:before { content: '\ea62'; } /* '' */
.icon-ticket:before { content: '\ea63'; } /* '' */
.icon-credit-card:before { content: '\ea64'; } /* '' */
.icon-clipboard-1:before { content: '\ea65'; } /* '' */
.icon-database-2:before { content: '\ea66'; } /* '' */
.icon-key-outline:before { content: '\ea67'; } /* '' */
.icon-key:before { content: '\ea68'; } /* '' */
.icon-flow-split:before { content: '\ea69'; } /* '' */
.icon-flow-merge:before { content: '\ea6a'; } /* '' */
.icon-flow-parallel-1:before { content: '\ea6b'; } /* '' */
.icon-flow-cross:before { content: '\ea6c'; } /* '' */
.icon-certificate-outline:before { content: '\ea6d'; } /* '' */
.icon-certificate:before { content: '\ea6e'; } /* '' */
.icon-scissors-outline:before { content: '\ea6f'; } /* '' */
.icon-scissors:before { content: '\ea70'; } /* '' */
.icon-flask:before { content: '\ea71'; } /* '' */
.icon-wine:before { content: '\ea72'; } /* '' */
.icon-coffee:before { content: '\ea73'; } /* '' */
.icon-beer:before { content: '\ea74'; } /* '' */
.icon-anchor-outline:before { content: '\ea75'; } /* '' */
.icon-anchor:before { content: '\ea76'; } /* '' */
.icon-puzzle-outline:before { content: '\ea77'; } /* '' */
.icon-puzzle:before { content: '\ea78'; } /* '' */
.icon-tree:before { content: '\ea79'; } /* '' */
.icon-calculator:before { content: '\ea7a'; } /* '' */
.icon-infinity-outline:before { content: '\ea7b'; } /* '' */
.icon-infinity-1:before { content: '\ea7c'; } /* '' */
.icon-pi-outline:before { content: '\ea7d'; } /* '' */
.icon-pi:before { content: '\ea7e'; } /* '' */
.icon-at:before { content: '\ea7f'; } /* '' */
.icon-at-circled:before { content: '\ea80'; } /* '' */
.icon-looped-square-outline:before { content: '\ea81'; } /* '' */
.icon-looped-square-interest:before { content: '\ea82'; } /* '' */
.icon-sort-alphabet-outline:before { content: '\ea83'; } /* '' */
.icon-sort-alphabet:before { content: '\ea84'; } /* '' */
.icon-sort-numeric-outline:before { content: '\ea85'; } /* '' */
.icon-sort-numeric:before { content: '\ea86'; } /* '' */
.icon-dribbble-circled-1:before { content: '\ea87'; } /* '' */
.icon-dribbble:before { content: '\ea88'; } /* '' */
.icon-facebook-circled-1:before { content: '\ea89'; } /* '' */
.icon-facebook:before { content: '\ea8a'; } /* '' */
.icon-flickr-circled-1:before { content: '\ea8b'; } /* '' */
.icon-flickr:before { content: '\ea8c'; } /* '' */
.icon-github-circled:before { content: '\ea8d'; } /* '' */
.icon-github:before { content: '\ea8e'; } /* '' */
.icon-lastfm-circled-1:before { content: '\ea8f'; } /* '' */
.icon-lastfm-1:before { content: '\ea90'; } /* '' */
.icon-linkedin-circled-1:before { content: '\ea91'; } /* '' */
.icon-linkedin:before { content: '\ea92'; } /* '' */
.icon-pinterest-circled:before { content: '\ea93'; } /* '' */
.icon-pinterest-1:before { content: '\ea94'; } /* '' */
.icon-skype-outline:before { content: '\ea95'; } /* '' */
.icon-skype:before { content: '\ea96'; } /* '' */
.icon-tumbler-circled:before { content: '\ea97'; } /* '' */
.icon-tumbler:before { content: '\ea98'; } /* '' */
.icon-twitter-circled-1:before { content: '\ea99'; } /* '' */
.icon-twitter:before { content: '\ea9a'; } /* '' */
.icon-vimeo-circled-1:before { content: '\ea9b'; } /* '' */
.icon-vimeo-1:before { content: '\ea9c'; } /* '' */
.icon-music-2:before { content: '\e95e'; } /* '' */
.icon-search-2:before { content: '\e959'; } /* '' */
.icon-mail-2:before { content: '\e958'; } /* '' */
.icon-heart-2:before { content: '\e953'; } /* '' */
.icon-star-2:before { content: '\e952'; } /* '' */
.icon-user-2:before { content: '\e94d'; } /* '' */
.icon-videocam-1:before { content: '\e94c'; } /* '' */
.icon-camera-2:before { content: '\e947'; } /* '' */
.icon-photo:before { content: '\e946'; } /* '' */
.icon-attach-2:before { content: '\e943'; } /* '' */
.icon-lock-2:before { content: '\e942'; } /* '' */
.icon-eye-2:before { content: '\e93f'; } /* '' */
.icon-tag-2:before { content: '\e93e'; } /* '' */
.icon-thumbs-up-2:before { content: '\e93b'; } /* '' */
.icon-pencil-2:before { content: '\e93a'; } /* '' */
.icon-comment-2:before { content: '\e937'; } /* '' */
.icon-location-2:before { content: '\e936'; } /* '' */
.icon-cup-1:before { content: '\e933'; } /* '' */
.icon-trash-2:before { content: '\e932'; } /* '' */
.icon-doc-2:before { content: '\e92f'; } /* '' */
.icon-note-1:before { content: '\e95d'; } /* '' */
.icon-cog-2:before { content: '\e95a'; } /* '' */
.icon-params:before { content: '\e957'; } /* '' */
.icon-calendar-2:before { content: '\e954'; } /* '' */
.icon-sound-1:before { content: '\e951'; } /* '' */
.icon-clock-2:before { content: '\e94e'; } /* '' */
.icon-lightbulb-1:before { content: '\e94b'; } /* '' */
.icon-tv:before { content: '\e948'; } /* '' */
.icon-desktop-1:before { content: '\e945'; } /* '' */
.icon-mobile-2:before { content: '\e944'; } /* '' */
.icon-cd-1:before { content: '\e941'; } /* '' */
.icon-inbox-2:before { content: '\e940'; } /* '' */
.icon-globe-2:before { content: '\e93d'; } /* '' */
.icon-cloud-2:before { content: '\e93c'; } /* '' */
.icon-paper-plane-1:before { content: '\e939'; } /* '' */
.icon-fire-1:before { content: '\e938'; } /* '' */
.icon-graduation-cap-1:before { content: '\e935'; } /* '' */
.icon-megaphone-2:before { content: '\e934'; } /* '' */
.icon-database-1:before { content: '\e931'; } /* '' */
.icon-key-2:before { content: '\e930'; } /* '' */
.icon-beaker-1:before { content: '\e95c'; } /* '' */
.icon-truck-1:before { content: '\e95b'; } /* '' */
.icon-money-1:before { content: '\e956'; } /* '' */
.icon-food-1:before { content: '\e955'; } /* '' */
.icon-shop:before { content: '\e950'; } /* '' */
.icon-diamond:before { content: '\e94f'; } /* '' */
.icon-t-shirt:before { content: '\e94a'; } /* '' */
.icon-cc-share:before { content: '\e8e2'; } /* '' */