body {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #F2F2F2;
  background-image: url(../img/pattern.png);
  background-attachment: fixed;
  background-position: center center;
  background-repeat: repeat;
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

input, button, select, textarea {
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.apollo {
  margin: 0 auto;
  max-width: 362px;
  border: 12px solid rgba(0, 0, 0, 0.45);
  border-radius: 5px;
  position: relative;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}
.apollo .control-group {
  margin-bottom: 0;
}
.apollo .popover {
  width: 300px;
}
.apollo strong {
  font-weight: 700;
}
.apollo.register .apollo-register {
  display: block;
}
.apollo.register .apollo-back {
  display: block;
}
.apollo.register .apollo-login {
  display: none;
}
.apollo.forgotten-password .apollo-forgotten-password {
  display: block;
}
.apollo.forgotten-password .apollo-register {
  display: none;
}
.apollo.forgotten-password .apollo-back {
  display: block;
}
.apollo.forgotten-password .apollo-login {
  display: none;
}
.apollo .apollo-login {
  max-width: 300px;
}
.apollo .apollo-login .apollo-seperator:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 43%;
  border-bottom: 1px solid #cccccc;
}
.apollo .apollo-login .apollo-seperator:after {
  content: "";
  position: absolute;
  top: 50%;
  right: 0;
  width: 43%;
  border-bottom: 1px solid #cccccc;
}
.apollo .apollo-forgotten-password {
  display: none;
  max-width: 300px;
}
.apollo .apollo-password-reset {
  display: none;
  max-width: 300px;
  text-align: center;
}
.apollo .apollo-register {
  max-width: 300px;
  display: none;
}
.apollo .apollo-register .apollo-seperator:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 36%;
  border-bottom: 1px solid #cccccc;
}
.apollo .apollo-register .apollo-seperator:after {
  content: "";
  position: absolute;
  top: 50%;
  right: 0;
  width: 36%;
  border-bottom: 1px solid #cccccc;
}
.apollo a {
  color: #444;
}
.apollo a:hover {
  text-decoration: none;
  color: #000;
}
.apollo.logged-in-facebook .btn-facebook,
.apollo.logged-in-facebook .apollo-seperator,
.apollo.logged-in-facebook input[type="text"] {
  display: none;
}
.apollo.logged-in-facebook .apollo-register-account {
  display: none;
}
.apollo.logged-in-facebook .apollo-change-account {
  display: block;
}
.apollo .apollo-register-account {
  text-align: center;
  margin: 25px 0 0;
}
.apollo .apollo-change-account,
.apollo .apollo-back {
  display: none;
  font-size: 12px;
  margin: 25px 0 0 0;
  text-align: center;
}

.apollo-facebook {
  background: url(../img/loader.gif) no-repeat center center;
}

.apollo-seperator {
  position: relative;
  display: block;
  margin: 0 0 20px 0;
  text-align: center;
  color: #666;
}

.apollo-container {
  padding: 40px 30px 30px;
  margin: 0 auto;
  background-color: #fff;
  border: 1px solid #e5e5e5;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}
.apollo-container .apollo-logging-in,
.apollo-container .apollo-registering {
  text-align: center;
  display: none;
}
.apollo-container .apollo-image {
  -webkit-box-shadow: inset 0px 0px 8px 0px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0px 0px 8px 0px rgba(0, 0, 0, 0.2);
  border-radius: 150px;
  margin: 0 auto 40px auto;
  width: 200px;
  height: 200px;
  display: block;
  background: url(../img/avatar.png) top center;
}
.apollo-container .btn-facebook {
  margin-bottom: 20px;
}
.apollo-container form {
  padding: 0;
  margin: 0;
}
.apollo-container form input[type="text"],
.apollo-container form input[type="password"] {
  font-size: 16px;
  height: auto;
  margin-bottom: 15px;
  padding: 7px 9px;
}
.apollo-container .btn-facebook {
  color: #FFFFFF;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #586B93;
  background-image: -moz-linear-gradient(top, #7787a7, #586b93);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#7787a7), to(#586b93));
  background-image: -webkit-linear-gradient(top, #7787a7, #586b93);
  background-image: -o-linear-gradient(top, #7787a7, #586b93);
  background-image: linear-gradient(to bottom, #7787a7, #586b93);
  background-repeat: repeat-x;
  border-color: #586B93;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#7787A7', endColorstr='#586B93', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.apollo-container .btn-facebook:hover,
.apollo-container .btn-facebook:active,
.apollo-container .btn-facebook:focus,
.apollo-container .btn-facebook.active,
.apollo-container .btn-facebook.disabled,
.apollo-container .btn-facebook[disabled] {
  color: #FFFFFF;
  background-color: #586B93;
}

.apollo-container .btn-twitter {
  margin-bottom: 20px;
}
.apollo-container form {
  padding: 0;
  margin: 0;
}
.apollo-container form input[type="text"],
.apollo-container form input[type="password"] {
  font-size: 16px;
  height: auto;
  margin-bottom: 15px;
  padding: 7px 9px;
}
.apollo-container .btn-twitter {
  color: #FFFFFF;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #33CCFF;
  background-image: -moz-linear-gradient(top, #33CCFF, #33CCFF);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#33CCFF), to(#33CCFF));
  background-image: -webkit-linear-gradient(top, #33CCFF, #33CCFF);
  background-image: -o-linear-gradient(top, #33CCFF, #33CCFF);
  background-image: linear-gradient(to bottom, #33CCFF, #33CCFF);
  background-repeat: repeat-x;
  border-color: #33CCFF;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#33CCFF', endColorstr='#33CCFF', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.apollo-container .btn-twitter:hover,
.apollo-container .btn-twitter:active,
.apollo-container .btn-twitter:focus,
.apollo-container .btn-twitter.active,
.apollo-container .btn-twitter.disabled,
.apollo-container .btn-twitter[disabled] {
  color: #FFFFFF;
  background-color: #33CCFF;
}
.apollo-container .btn-primary {
  color: #FFFFFF;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #2087BF;
  *background-color: #2087BF;
  background-image: -moz-linear-gradient(top, #279ad8, #2087bf);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#279ad8), to(#2087bf));
  background-image: -webkit-linear-gradient(top, #279ad8, #2087bf);
  background-image: -o-linear-gradient(top, #279ad8, #2087bf);
  background-image: linear-gradient(to bottom, #279ad8, #2087bf);
  background-repeat: repeat-x;
  border-color: #2087BF;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#279AD8', endColorstr='#2087BF', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}
.apollo-container .btn-primary:hover,
.apollo-container .btn-primary:active,
.apollo-container .btn-primary.active,
.apollo-container .btn-primary.disabled,
.apollo-container .btn-primary[disabled] {
  color: #FFFFFF;
  background-color: #2087BF;
  *background-color: #003bb3;
}
.apollo-container textarea:focus, .apollo-container input[type="text"]:focus, .apollo-container input[type="password"]:focus, .apollo-container input[type="datetime"]:focus, .apollo-container input[type="datetime-local"]:focus, .apollo-container input[type="date"]:focus, .apollo-container input[type="month"]:focus, .apollo-container input[type="time"]:focus, .apollo-container input[type="week"]:focus, .apollo-container input[type="number"]:focus, .apollo-container input[type="email"]:focus, .apollo-container input[type="url"]:focus, .apollo-container input[type="search"]:focus, .apollo-container input[type="tel"]:focus, .apollo-container input[type="color"]:focus, .apollo-container .uneditable-input:focus {
  border-color: rgba(140, 168, 41, 0.8);
  outline: 0;
  outline: thin dotted 9;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(140, 168, 41, 0.6);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(140, 168, 41, 0.6);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(140, 168, 41, 0.6);
}

/* Demo Styles */
#demo {
  position: absolute;
  top: 10px;
  left: 10px;
  background: #fff;
  padding: 0 20px;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  border: 1px solid #e5e5e5;
  width: 230px;
}
